/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions

node_modules
/.angular

/dist
/packages/*/dist

*.tsbuildinfo

/coverage
/demo/coverage
/demo/lib/coverage
test-results
