build {
	options {
		tsconfig "tsconfig.json"
		baseHref "/lorem/ipsum"
		entryPoints "src/index.html" "src/lib.ts"
		inlineLitDecorators #true
	}

	configuration "translated" {
		localize "en" "nl"
	}
}

test-legacy {
	options {
		karmaConfig "karma.conf.cjs"
		tsconfig "tsconfig.spec.json"
		inlineLitDecorators #true
	}
}

test {
	builder "@snuggery/build-lit:vitest"
	options {
		vitestConfig "vitest.config.js"
		tsconfig "tsconfig.vitest.json"
		coverage #true
		coverageInclude "src/**/*.ts" "src/**/*.js"
		coverageExclude "**/*.spec.ts" "**/*.vitest.spec.ts"
	}
}

i18n {
	targetLocales "nl" "en"
	interchange {
		format "xliff"
		xliffDir "locale"
	}
}
