on:
  push:
    branches:
      - main
  pull_request:

name: "Validation"
jobs:
  code-style:
    name: "Code Style"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20.x

      - name: Install
        shell: bash
        run: |
          yarn install --immutable

      - name: 'Check for formatting errors (fix w/ "yarn prettier --write path/to/file")'
        run: |
          yarn prettier --check .
        shell: bash

      - name: 'Check for linting errors (fix w/ "yarn lint -c fix")'
        run: |
          yarn sn lint
        shell: bash

  build-test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20.x

      - name: Install
        shell: bash
        run: |
          yarn install --immutable
          yarn playwright install chromium

      - name: Type-Check
        shell: bash
        run: |
          yarn tsc --noEmit

      - name: Build
        shell: bash
        run: |
          yarn sn build

      # - name: 'Run tests'
      #   shell: bash
      #   run: |
      #     yarn sn test

      - name: "Run tests"
        shell: bash
        run: |
          yarn ./demo test
